{:source-paths ["src" "test"]
 :dependencies []
 :builds
 {:app
  {:target :node-script
   :main fighorse.core/main
   :output-to "dist/fighorse.js"
   :output-dir "target"
   :optimizations :simple
   :pretty-print false
   :source-map false}

  :test
  {:target :node-test
   :output-to "target/test.js"
   :ns-regexp "-test$"
   :autorun false}}}
